
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "vazir";
}
.yellow{
  color: #f7ac53;
}
.alicecube{
  color: aliceblue;
}
.landing-section {
  width: 100%;
  height: 100vh;
  background: url("img/bkg.jpg") fixed center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border {
  width: 600px;
  height: 200px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}
.title {
  color: rgb(240, 248, 255);
  font-size: 22px;
  text-align: center;
}
.option-list {
  color: aliceblue;
}
.list-item,
.pipe {
  display: inline-block;
  list-style: none;
  margin: 15px 10px;
}
.pipe {
  color: #f7ac53;
  font-size: 24px;
  font-weight: 700;
}
.services {
  display: flex;
  flex-direction: column;
  padding: 150px  150px 80px 150px;
  background-color: #202020;
  position: relative;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
}
.profile {
  border: 3px solid #f7ac53;
  padding: 8px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  color: #f7ac53;
  font-size: 20px;
  position: absolute;
  align-self: flex-start;
  top: 30px;
  left: 15px;
  margin: 0 15px;
}
.support {
  color: aliceblue;
  align-self: flex-end;
  margin: 0 10px;
  position: absolute;
  right: 15px;
  top: 30px;
}
.support span {
  color: #f7ac53;
}
.centerPipe {
  position: absolute;
  top: 0;
  left: 50%;
  align-self: center;
  width: 3px;
  height: 100px;
  background-color: #f7ac53;
}
.serviceTitle {
  color: #f7ac53;
  align-self: center;
  font-size: 18px;
  position: absolute;
  left: 48%;
  top: 110px;
}
.servicesCaption {
  width: 700px;
  text-align: center;
  font-size: 2.7rem;
  color: aliceblue;
  align-self: center;
}
.fbox {
  width: 150px;
  height: 200px;
}
.fbpx p {
  color: aliceblue;
}
.features{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.featureIcon {
  color: #f7ac53;
  font-size: 1.5rem;
}
.featuresTitle {
  color: aliceblue;
  font-size: 2.5rem;
}
.fbox span {
  font-size: 0.7rem;
  color: aliceblue;
  text-align: left;
}

.getDetail{
  padding: 10px 0;
  font-size: 1rem;
}

.project{
  background-color: #181818;
  padding: 100px 100px 90px 100px ;
  display: flex;
 flex-direction: column;
 position: relative;
}
.slider{
  align-self: center;
  width: 800px;
  height: 600px;

}
.slider img{
  width: 100%;
}
.projectPipe{
  position: absolute;
  left: 20%;
  width: 3px;
  height: 100px;
  background-color: #f7ac53;
}
.projcetTitle1{
  position: absolute;
  top: 210px;
  left: 20%;
}
.project1{
  position: absolute;
  font-size: 2.5rem;
  top: 230px;
  left: 20%;
}
.secondPipe{
  background-color: #f7ac53;
  width: 3px;
  height: 100px;
  position: absolute;
  right: 28%;
  bottom: 180px;
}
.projectLinks{
  color: aliceblue;
  position: absolute;
  right: 20%;
  bottom: 180px;
}
.slider-link{
  position: absolute;
  bottom: 70px;
  width: 400px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.carousel{
  margin: 0 5px;
  width: 50px;
  border-radius: 2px;
  height: 5px;
  align-self: center;
}
.gray{
  background-color: lightgray;
}
.active{
  background-color: #f7ac53;
  width: 55px;
  height: 6px;
}
.clients{
  display: flex;
  flex-direction: column;
  padding: 200px 200px 170px 200px;
  background-color:#202020 ;
  position: relative;
}
.clientsTitle{
  color: #f7ac53;
  position: absolute;
  left: 47%;
  font-size: 1.1rem;
  top: 120px;
}
.clientsCaption{
  width: 700px;
  text-align: center;
  font-size: 2rem;
  align-self: center;
}
.clientLogo{
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.clientLogo img{
  filter: grayscale(100%);
  width: 160px;
  height: 40px;
}
#master{
  width: 100px;
  height: 40px;
}
#safeforce{
  width: 130px;
  height: 55px;
}
.visit-card{
  width: 800px;
  height: 300px;
  border-radius: 20px;
  background-color: #181818;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.prof{
  width: 86px;
  height: 60px;
  margin: 20px 0;
  align-self: center;
  border-radius: 80px 80px 55px 55px;
}
.visitCaption{
  width: 700px;
  align-self: center;
}
.vCaption{
  text-align: center;
  font-size: .9rem;
}
.author{
  width: 90%;
  margin: 20px 0;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.grayPipe{
  width: 30%;
  background-color: #474747;
  height: 2px;
}
.signuture{
  color: #bababa;
  align-self: center;
}
.team{
  padding: 250px 250px 150px 250px;
  position: relative;
  display: flex;
  background-color: #181818;
  flex-direction: column;
}
.teamTitle{
  position: absolute;
  left: 48%;
  top: 120px;
  font-size: 1.3rem;
}
.team-capiton{
  font-size: 2rem;
  position: absolute;
  top: 170px;
  left: 43%;
}
.team-profile{
  align-self: center;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.team-member{
  width: 110px;
  height: 100px;
}
.team-member img{
  width: 100%;
  border-radius: 50%;
}
.memberName{
  text-align: center;
  font-size: 1.1rem;
}
.Responsibility{
  font-size: .7rem;
  text-align: center;
}
.contact{
  background-color: #202020;
  padding: 200px 200px 50px 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .teamTitle,.centerPipe{
  align-self: center;
}
.input-form{
  align-self: center;
  width: 600px;
  background-color: #181818;
  padding:20px;
}
input,textarea{
  background-color: #181818;
  outline: none;
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-bottom: 1px solid lightgray;
}
input:focus,textarea:focus{
  outline: none;
  border-radius: 15px;
  border: 2px solid #f7ac53 ;
  
}
.vw250px{
  width: 270px;
  margin: 20px 0;
}
.submit-btn{
  background-color: #f7ac53;
  width: 100%;
  margin: 20px 0;
  border: none;
  padding: 20px 0;
  border-radius: 25px;
}
#contactProf{
  border: 3px solid #f7ac53;
  padding: 8px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  color: #f7ac53;
  font-size: 20px;
  /* position: absolute; */
  align-self: flex-start;
  /* bottom: 30px; */
  /* left: 40%; */
  margin: 0 15px;
}
.copyRight{
  width: 600px;
  align-self: center;
  margin: 50px 0;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
}
.address{
  width: 200px;
}
.address p{
  font-size: .7rem;
}
@media screen and (max-width:1199.98px) {
  .title{
    font-size: 20px;
  }
  .list-item,.pipe{
    margin: 8px;
  }
  .servicesCaption{
    font-size: 2.4rem;
  }
  .featuresTitle{
  font-size: 2rem;  
  }
  .fbox{
    width: 120px; 
  }
  .project .projectPipe,.projcetTitle1,.project1{
    left: 10%;
  }
  .secondPipe{
    right: 15%;
    bottom: 20%;
  }
  .projectLinks{
    bottom: 15%;
    right: 3%;
  }
  .slider-link{
    width: 350px;
  }
  .clientsTitle{
    left: 45%;
  }
  .clientLogo{
    justify-content: center;
  }
  .clientLogo img{
    width: 120px;
    height: 35px;
    margin:0 10px;
  }
  .teamTitle{
    left: 46%;    
  }
  .team-capiton{
    left: 40%;
  }
  .team-profile{
    width: 90%;
    justify-content: center;
  }
.team-member{
  margin: 0 20px;
}
  .team-member img{
    width: 95px;

  }
  .memberName{
    font-size: 1rem;
  }
  .input-form{
    width: 500px;
  }
  .vw250px{
    width: 48%;
  }
  textarea{
    width: 95%;
  }
  .submit-btn{
    padding: 10px 0;
  }
}
@media screen and (max-width:991.98px) {
  .title{
    font-size: 18px;
  }
  .serviceTitle{
    left: 46%;
  }
  .servicesCaption{
    font-size: 2rem;
  }
  .project{
    padding: 90px;
  }
  .slider{
    height: 90%;
  }
  .slider img{
    width: 80%;
    height: 75%;
  }
  .slider{
    display: flex;
    justify-content: center;
  }
  .projcetTitle1{
    font-size: 14px;
  }
  .project1{
    font-size: 2rem;
  }
  .secondPipe {
    right: 20%;
    bottom: 10px;
  } 
  .projectLinks {
    bottom: 25px;
    right: 2%;
  }.slider-link{
    position: absolute;
    bottom: 7%;
  }.clientsCaption{
    font-size: 1.6rem;
  }
  .team-capiton{
    left: 37%;
  }
  @media screen and (max-width:767.98px) {
    .services{
      padding: 150px 0 80px 0;
    }
    .servicesCaption {
      width: 95%;
      font-size: 1.7rem;
    }
    .features{
      margin: 40px 15px;
      justify-content: space-around;
    }
    .fbox{
      width: calc(calc(100% / 3)-30px);
    }
    .featuresTitle{
      font-size: 1.5rem;
    }
    .fbox span{
      text-align: center;
    }
    .secondPipe{
      bottom: 10px;
      right: 20%;
    }
    .projectLinks{
      bottom: 25px;
    }
    .clientLogo{
      flex-wrap: wrap;
    }
    .clientLogo img{
      margin: 15px 15px;
    }
    .visit-card{
      width: 95vw;
    }
    .visitCaption{
      width: auto;
      
    }
    .vCaption{
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width:575.98px) {
    .border{
      width: 80vw;
    }
    .title{
      font-size: 15px;
    }
    .list-item{
      margin: 5px;
    }
    .support p{
      font-size: 15px;
    }
    .services{
      padding: 150px 0 0px 0;
    }
    .profile{
      top: 15px;
      left: 10px;
    }

    .serviceTitle{
      left: 43%;
    }
    .servicesCaption {
      font-size: 1.4rem;
    }
    .features{
      display: block;
    }
    .fbox{
      display: block;
      margin: 0 auto;
      width: 50vw;
    }
    .fbox span{
      text-align: left;
    }
    .slider img{
      width: 90vw;
      height: 300px;     
    }
    .project{
      padding: 90px 0 170px 0;
    }
    .project .projectPipe{
      top: 0;
    }
    .projcetTitle1{
      top: 100px;
      font-size: 13px;
    }
    .project1{
      top: 120px;
      font-size: 1.7rem;
    }
    .secondPipe{
      bottom: 10%;
      right: 28%;
    }
    .slider-link{
      bottom: 5%;
    }
    .projectLinks{
      bottom: 14%;
    }
    .clients{
      padding: 200px 0;
    }
    .clientsTitle{
      left: 40%;
    }
    .clientsCaption {
      font-size: 1.5rem;
      width: 95vw;
    }
    .team{
      display: block;
      padding: 200px 0 100px 0;
      
    }
    .teamTitle{
      left: 40%;
    }
    .team-capiton{
      left: 15%;
      font-size: 1.6rem;
    }
    .team-capiton{
      left: 23%;
    }
    .team-profile{
      display: block;
      margin: 0 auto;
    }
    .team-member{
      margin: 60px auto;
    
    }
    .contact{
      padding: 200px 0;
    }
    .contact p{
      left: 39%;
    }
    .input-form{
      width: 95vw;
    }
    .vw250px{
      display: block;
      width: 99%;
    }
    .copyRight{
      flex-direction: column;
    }
    #contactProf{
      margin: 0 auto;
    }
    .address{
      margin: 15px auto;
    }
  }
}